/* !X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  header .display {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  header .display .logo-1 {
    text-align: center;
  }

  header nav {
    display: none;
  }

  video {
    width: 100%;
    height: 100%;
  }

  .video-container .video-text {
    display: flex;
    position: absolute;
    top: 84px;
    margin: 0px 8%;
    align-items: center;
    font-size: 138%;
    justify-content: center;
    color: var(---color-F7E987);
    flex-direction: column;
  }

  /* !Home */
  #Home {
    min-width: 100%;
    min-height: 100%;
  }

  .video-container .video-text {
    display: flex;
    position: absolute;
    top: 89px;
    margin: 0px 8%;
    align-items: center;
    font-size: 138%;
    justify-content: center;
    color: var(---color-F7E987);
    flex-direction: column;
  }

  .video-text a button {
    background-color: var(---color-white);
    color: var(---color-black);
  }

  .video-text button:hover {
    background-color: var(---color-white);
    color: var(---color-black);
  }

  #Hotel-Techgicus-info {
    min-width: 100%;
    min-height: 64vh;
  }

  .container-info {
    flex-direction: column;
    gap: 10%;
  }

  .container-info .hotel-image-info img {
    margin-top: 10%;
    width: 82%;
    height: 50%;
    margin-right: 55px;
  }

  .container-info .hotel-image-info {
    display: unset;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
  }

  .container-info .hotel-image-info img {
    margin-right: 0;
  }

  .container-info .hotel-name h1 {
    text-align: center;
    font-size: 31px;
    margin-bottom: 20px;
    font-family: var(---font-family-Roboto);
  }

  .container-info .hotel-name p {
    text-align: justify;
    font-size: 14px;
    font-family: var(---font-family-Poppins);
  }

  /* !Event*/
  #Event {
    min-width: 100%;
  }

  .Event-container {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    justify-content: center;
  }

  .Event-container .Event-container-box .Event-container-box-videos video {
    width: 100%;
    height: auto;
  }

  /* !offer */
  #offer {
    min-width: 100%;
  }

  .offer-container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 118px;
  }

  .offer-container .container-box {
    display: grid;
    gap: 10%;
    align-items: center;
    justify-content: space-around;

    padding: 30px;
  }

  .offer-container .offer-h1 {
    color: var(---color-white);
  }

  #offer .offer-container .container-box .offer-box img {
    margin: 2px;
  }

  #team {
    min-width: 100%;
    min-height: 64vh;
  }

  .team-container {
    display: grid;
  }

  .team-container .team-text h2 {
    text-align: center;
  }

  .team-container .team-text {
    font-size: 15px;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .team-container .team-text h2 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 38%;
  }

  .team-container .team-image img {
    width: 100%;
    margin-left: 0;
    padding: 2%;
  }

  .team-container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .team-container .team-text h2 {
    display: unset;
    flex-direction: unset;
    font-family: var(---font-family-Roboto);
  }

  /* connect */
  #connect {
    min-width: 100%;
  }

  .connect-container {
    font-size: 18px;
  }

  .connect-container h2,
  h3 {
    color: var(---color-white);
  }

  .connect-container .connect-box .fa-whatsapp {
    color: var(---color-whatsapp);
    font-size: 37px;
  }

  .connect-container .connect-box .fa-instagram {
    color: #858ebc;
    margin: 0 28px;
    font-size: 37px;
  }

  .connect-container .connect-box .fa-phone {
    color: var(---color-white);
    font-size: 37px;
  }

  footer {
    min-width: 100%;
  }
}

/* !Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 575.98px) {
  /* header */
  header {
    padding: 7px 13px;
    overflow-x: hidden;
    background-color: var(---color-white);
    font-family: var(---font-family-Roboto);
  }
  nav .navber-1 ul,
  .navber-2 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  header nav .logo {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  header nav .logo img {
    width: 189px;
  }
  /* !home */
  #Home{
    min-width: 100%;
  min-height: 100%;
  }
  .video-text {
    display: flex;
    position: absolute;
    top: 195px;
    margin: 0 7%;
    align-items: center;
    font-size: 33px;
    justify-content: center;
    color: var(---color-F7E987);
    flex-direction: column;
}
/*! Hotel-Techgicus-info */
.container-info .hotel-name h1 {
  text-align: left;
  font-size: 42px;
  margin-bottom: 20px;
  font-family: var(---font-family-Roboto);
}
.container-info .hotel-name p {
  text-align: justify;
  font-size: 12px;
  font-family: var(---font-family-Poppins);
}
.Event-container {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  justify-content: center;
}

.Event-container .Event-container-box .Event-container-box-videos video {
    width: 100%;
    padding: 0 4%;
    height: auto;
}

.offer-container {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.team-container .team-text {
    margin-left: 0;
    width: 42%;
    font-size: 21px;
}

.connect-container {
  margin-top: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 33px;
}
}

/*  !Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) {
}

/* !Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px) {
}

/*! X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) and (min-width: 1199.98px) {
}
